/* *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
    background-color: #34363D;
}

label{ 
	display: inline-block;
	height: 100%;
	margin: 0 20px;
	line-height: 60px;
	font-size: 18px;
	color: gray;
	cursor: pointer;
	transition: .5s;

} */
/* #username {
    border: 1px solid;    
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
            transition: border 0.1s linear, box-shadow 0.1s linear;
} */